

/* header styles */
.header{
display: flex;
justify-content: space-between;
border: 1px solid black;
}

.logo{
    width: 100px;
}
.nav-container >ul{
    display: flex;
    flex-direction: row;
    list-style: none;
}

.nav-container> ul>li{
    padding: 20px;
}


/* Body styles */

.body{
    margin-top: 20px;
}

.card-container{
display: grid;
grid-template-columns: repeat(auto-fill,minmax(200px,1fr));
grid-gap: 10px;
}
.resto-card{
    width: 200px;
}
.resto-card:hover{
    border: 1px solid black;
    cursor: pointer;
}
.res-logo{
    padding: 0px 5%;
width:90%;
}
